.main-bg {
  background-color: var(--cor-c6);
}
.ajuda-introducao {
  padding: 60px 0 40px 0;
  text-align: center;
}
.ajuda-introducao p {
  margin-top: 20px;
}
.ajuda-introducao h2 {
  font-size: 3rem;
  color: var(--cor-primaria);
}
.flex-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 0 0 120px 0;
}

.flex-img img {
  border-radius: 2px;
}

.flex-img p {
  color: var(--cor-c9);
}
.legenda {
  color: var(--cor-c9);
}