.main-bg {
  background-color: var(--cor-c5);
}
.ajuda-introducao {
  padding: 80px 0;
  text-align: center;
}
.ajuda-introducao p {
  margin-top: 20px;
}
.flex-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 0 0 80px 0;
}

.flex-img img {
  border-radius: 2px;
}