:root {
  --cor-primaria: #141414;
  --cor-secundaria: #FFFFFF;
  --cor-secundaria-clara: #FDFDFD;
  --cor-terciaria: #C7C6C6;
  --cor-destaque: #051048;
  --cor-destaque-secundaria: #112172;
  --cor-preto: #020202;

  --font-titulo: 'Poppins';
  --font-texto: 'Roboto'
}