* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
}
h1,
h2 {
  font-family: var(--font-titulo);
}
h3,
h4,
p,
.resultados,
.menu {
  font-family: var(--font-texto);
}
