.header-bg {
  background: var(--cor-c12);
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
}

li{
  list-style: none;
}
.menu {
  display: flex;
  gap: 40px;
}

.menu a {
  text-decoration: none;
  color: var(--cor-secundaria);
}
.menu a:hover {
  color: var(--cor-c5);
  transition: .2s;
}

@media (max-width: 700px) {
  .header {
    flex-direction: column;
  }
  .menu a {
    margin-top: 20px;
    display: inline-block;
  }
}

@media(max-width: 340px) {
  .header img{
    width: 150px;
  }
  .header a {
    font-size: 12px;
  }
  .header {
    padding: 20px 40px;
  }
  .menu {
    gap: 20px;
  }
}
