header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

li{
  list-style: none;
}
.menu {
  display: flex;
  gap: 20px;
}

a {
  padding: 20px;
  text-decoration: none;
  color: var(--cor-secundaria);
}