.btn {
  background-color: var(--cor-destaque-secundaria);
  padding: 10px 20px;
  color: var(--cor-secundaria);
  border-radius: 2px;
  border: none;
  cursor: pointer;
  font-family: var(--font-titulo);
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
}

.btn:hover {
  background-color: var(--cor-destaque);
}