.introducao {
  padding: 100px 0 160px 60px;
  color: var(--cor-secundaria);
  display: flex;
  flex-direction: column;
  gap: 20px;
  place-items: start;
}
.introducao-bg {
  background: url("../../img/gym.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.introducao h1 {
  font-size: 2.5rem;
}
.introducao p {
  font-size: 1rem;
  color: var(--cor-c6);
}
